{% extends "base.html" %}
{% load staticfiles%}

{% block css %}


{% endblock %}

{% block title %} Student's Policies | TPO - IIT (BHU) Varanasi {% endblock %}


{% block content %}
<div class="row font_control">
	<div class="col-xs-12 wrapper">


		<h2 class="side_heading">Student's Policy Session 2017-18</h2>


		<!-- Nav tabs -->
		<div class="no_card">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#placement" aria-controls="placement" role="tab" data-toggle="tab">Placement Procedure and Policy</a></li>
			<li role="presentation"><a href="#internship" aria-controls="internship" role="tab" data-toggle="tab">Internship Procedure and Policy</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">


			<div role="tabpanel" class="tab-pane active fade in" id="placement">
		<p>The Training & Placement Cell ,IIT(BHU) Varanasi welcomes all eligible students to take active
											part in the Placement Process for the Placement Season 2017-18. IIT(BHU) Varanasi considers
											the Placement Process very crucial and extends all out support to ensure that students are given
											the right opportunity to streamline their career interests.The Placement Team continuously
											endeavors to ensure IIT(BHU) Varanasi comes up with the best Placement results and continues
											to be the most favored destination for recruiting organizations. This is possible only with the
											assistance and full cooperation of all students. All students are expected to understand the
											Placement Policy and follow it strictly.</p>
											<br>
																<p>The role of the Training and Placement Cell (TPC) is of a facilitator and counselor for placement
								related activities, and it does NOT guarantee a job to a student even on his/her being registered
								with the cell.The placement policy detailed hereunder will apply to all the students registered for
								the 2017-18 campus placement season and is to be followed during the entire placement season.</p>
											<br>
			<ol>
					<h2>Guidelines</h2>
										<br>
										<li>All full-time registered final year students of IIT (BHU), Varanasi are eligible to participate in the recruitment process for placements through the Training and Placement Cell.</li>
											<li>Applying for a company via the placement portal is entirely the responsibility/decision of the student concerned.</li>
											<li>There is no restriction(except the eligibility criterion) for a student on applying for a position in any company or appearing in a test, interview, etc. until a job is secured by him/her. A student will be considered to have secured a job if his/her name appears in the selection list, an appointment letter is received by the TPC or if a PPO is accepted by him/her.</li>
											<li>The Institute follows "One Student One Job" policy. Low paid jobs that are from IT companies recruiting 50 or more students and offering a CTC less than or equal to 4.5 lacs/annum are not counted towards this.</li>
											<li>The final results of all the companies interviewing in a particular slot are submitted to the cell by the end of the slot. In the case of a student being selected by more than one company, the student has to choose only one of these offers immediately after the declaration of results.</li>
											<li>Students are requested to forward contacts they have, if any, in different companies so
																	that the TPC may formally invite these companies for placements.</li>
											<li>A student is allowed to appear for at most three companies in a single slot on any day.
Companies exclusive for one particular branch will not be accounted towards this.</li>
											<li>If a company offers a different profile or a lower CTC for which the candidate applied for
																				then:</li>
													<ul>
														<li>A candidate can accept the offer and can not sit for any further placement
																	processes except PSUs.</li>
														<li>A candidate can reject the offer, in which case he will be eligible to sit for
																	further placements.</li>
													
													</ul>
													
												<br>

			<h2>Pre Placement Offers (PPOs)</h2>
							<br>
							<li>All Pre-Placement Offers by any organization, extended to any student, have to be
																												immediately reported to the Placement Office by the student after registration. This also
																												includes offers extended by organizations that are not participating in the 2017-18 campus
																												placements.</li>
							<li>The companies which pick up interns from the campus selection shall be asked in advance about any PPOs that have been extended by them. They shall also be asked about the possibility of a PPO being received in the future.</li>
							<li>The students will be allowed to apply for other companies as per the normal policy until a
											PPO is extended to them.</li>
							<li>The PPO will be counted as a job unless the concerned student rejects the offer within 2 working days of the notification sent to him/her by the cell via the Placement Portal.The rejection has to be conveyed to the cell in the form of either an email to tpo@iitbhu.ac.in or a paper application. In the latter case, the students must keep a copy of the same which should have an inward diary number and the initials of the staff of the cell. In all other cases, the student will be deemed to have accepted the offer and will not be eligible for any further selection processes.</li>
							<li>If the PPO is accepted, the job will be recorded and he/she will NOT be allowed to participate in the campus placements. However, he/she will be allowed to participate in the process if the offer is rejected. The rejection letter will be sent to the company by the cell.</li>
							<li>Any student, found to have not informed the cell about the secured PPO, will be debarred from the placement process. If in the meantime, the student gets another job from campus selection, the company in which he/she is placed will be intimated of the violation and the student will not be handed over the offer letter.</li>
							<br>

			<h2>Post Selection/ Joining Policy </h2>
							<br>
							<li>In case the candidate after accepting the offer in December is not willing to join the
								company to pursue higher studies or for any other reasons, he/she should inform the
								company and T&P Cell before 15th April,2018. Non compliance will be treated as a strong
								case of indiscipline and accordingly the institute will be informed to make an entry of this
								indiscipline in the character book of the student. The students should note that when the
								companies do not honour their commitment, the companies are blacklisted.
							</li>
							<br>
			<h2>Student Conduct and Disciplinary Policy </h2>
								<br>
								<li>Any student participating in the selection process of a company is forbidden from making direct contact with any company personnel under any circumstances. In case of an emergency, the student should contact the TPC or the TPR coordinator appointed for the company, with his/her problem, who will then put it before the company for consideration.</li>
								<li>The students facing any kind of problem at any stage of the selection process should bring it to the knowledge of the cell within 24 working hours from the time of incidence in the form of an email.</li>
								<li>It is expected that a student shall NOT add any wrong/fraudulent/ misleading information in his/her resume. Resume checks will continue throughout the placement process. If, on verification if any discrepancies are found, the student would be de-barred from placements. This may also attract strict disciplinary action.</li>
								<li>Students are not allowed to carry mobile phones, tablet PCs, calculators or any electronic device during Online/Written Placement Test (unless mentioned) .</li>
								<li>Any sort of misbehaviour/misconduct on the part of students, which affects the decorum of
										the PPT or the selection process or the reputation of the TPC/Institute, including asking
										inappropriate/embarrassing questions, coming in inappropriate attire and not possessing
										the ID card, will result in the student being debarred from sitting further in the selection
										process of the company and if repeated again, the student will be debarred from entire
										placement session.</li>
								<small><strong>Penalty Structure </strong></small>
								<li>If a student misses any of the activity (which includes PPTs, Online Tests, GDs,Interviews, Guest Talks, etc), then he will not be allowed for the further process of the company.</li>
								<li>The students who wish to withdraw from the proceedings must bring it to the knowledge of the cell according to the following criteria:
									<ul>
										<li>a. Companies visiting twice to the campus (1st time for written examination & PPT; 2nd time for the interview and selection process): 48 hours before the company is scheduled.</li>
										<li>b. Companies visiting once to the campus (for the whole selection process): 48 hours before the PPT/Written Test/Online Test.</li>
									</ul>
									Students violating the above norms will be debarred from the placement process.
								</li>
								<li>In case of emergency fill in the Leave Application form before the activity. You need to submit LAF in the T&P office yourself or send a representative on your behalf with his/her undertaking on the form. Relevant proof needs to be attached with LAF for missing the event which includes:
										<ul>	
											<li>Only Health Center medical certificate for medical reasons</li>
											<li>If a class is scheduled at the time of the activity. </li>
											<small><li>The LAF will not be counted as your attendance for the event. Attendance is counted ONLY when you are physically present.</li></small>
										</ul>
								</li>
								<li>Students appearing for any tests/GD/presentation should be present at least 15 minutes prior to the start of process.</li>
								<li>Students must keep their Identity Card and Attendance Diaries with them at the time of PPT/Test/Group Discussion/ Interview, and produce the same when demanded by the visiting team of the company, staff or Training and Placement Representatives (TPRs). No one would be allowed to enter the test/interview venue without the Id-card.</li>
								<li>A list of companies coming on-campus for recruitment is put up on the T&P website. Students must NOT apply to any of these companies off-campus, as under an accord of mutual understanding between the firms and IIT(BHU) Varanasi, companies would notify T&P whenever they receive an off-campus application from any of IIT(BHU) Varanasi students. In all such cases suitable action as per the institute rules would be would be initiated apart from the candidates being debarred from the placement process.</li>
								<li>If the Training & Placement representatives are found incapable in doing their job then it will be duly informed by the Core Committee to the Professor In-charge, TPC and the punishment includes debarment from the placement session/replacement as TPR. The TPR will be judged on the basis of his/her commitment towards his duties such as number of companies coordinated, meetings attended, branch reviews, etc.</li>
		</ol>
		
		
		
		</div>


								<div role="tabpanel" class="tab-pane fade" id="internship">
																				<p>The Training & Placement Cell ,IIT(BHU) Varanasi welcomes all eligible students to take active
											part in the Internship Process for the Internship Season 2017-18. IIT(BHU) Varanasi considers
											the Internship Process very crucial and extends all out support to ensure that students are
											given the right opportunity to streamline their career interests.The training and placement team
											continuously endeavors to ensure IIT(BHU) Varanasi comes up with the best Internship results
											and continues to be the most favored destination for recruiting organizations. This is possible
											only with the assistance and full cooperation of all students. All students are expected to
											understand the Internship Policy and follow it strictly.</p>
											<br>
										<p>The Internship Policy detailed here under will apply to all the students registered for the 2017-18 campus Internship season and is to be followed during the entire Internship season.</p>
											<br>
			<ol>
					<h2>Guidelines</h2>
										<br>
										<li>All full-time registered third year students of B.Tech and IDD programmes of IIT(BHU), Varanasi are eligible to participate in the recruitment process for Internship through the Training and Placement Cell.</li>
											<li>It is mandatory for all the students of UGD/IDD semester VI to undergo Industrial Training/ Summer Project of 6-8 weeks during the inter-year summer break.</li>
											<li>Applying for a company via the T&P portal is entirely the responsibility/decision of the student concerned.</li>
											<li>The internship policy is of One Student One Internship . If a student appears in the list of selected candidates of a company(i.e. If any student gets selected for an internship in a company), then he/she is not eligible to appear for future internship processes.</li>
											<li>Students are requested to forward contacts they have, if any, in different companies so that the TPC may formally invite these companies for Internships.</li>
	
												<br>


			<h2>Post Selection/ Joining Policy </h2>
							<br>
							<li>If a student has accepted a paid internship offer through the cell, it is mandatory for
								him/her to appear for that internship except for the research internship. A student opting
								for Research Internship after accepting a paid internship offer through cell, need to notify
								cell and take permission of Professor In-Charge,TPC by April 15, 2018. Failing to do so
								will lead to strict disciplinary action. In all other cases, if found absent during the paid
								internship period (without the consent of Professor In-Charge, TPC), he/she will be
								debarred from the Placement Process.
							</li>
							<br>
			<h2>Student Conduct and Disciplinary Policy </h2>
								<br>
								<li>Any student participating in the selection process of a company is forbidden from making direct contact with any company personnel under any circumstances. In case of an emergency, the student should contact the TPC or the TPR coordinator appointed for the company, with his/her problem, who will then put it before the company for consideration.</li>
								<li>The students facing any kind of problem at any stage of the selection process should bring it to the knowledge of the cell within 24 working hours from the time of incidence in the form of an email.</li>
								<li>It is expected that a student shall NOT add any wrong/fraudulent/ misleading information in his/her resume. Resume checks will continue throughout the placement process. If, on verification if any discrepancies are found, the student would be de-barred from placements. This may also attract strict disciplinary action.</li>
								<li>Students are not allowed to carry mobile phones, tablet PCs, calculators or any electronic device during Online/Written Placement Test (unless mentioned) .</li>
								<li>Any sort of misbehaviour/misconduct on the part of students, which affects the decorum of
										the PPT or the selection process or the reputation of the TPC/Institute, including asking
										inappropriate/embarrassing questions, coming in inappropriate attire and not possessing
										the ID card, will result in the student being debarred from sitting further in the selection
										process of the company and if repeated again, the student will be debarred from entire
										placement session.</li>
								<small><strong>Penalty Structure </strong></small>
								<li>If a student misses any of the activity (which includes PPTs, Online Tests, GDs,Interviews, Guest Talks, etc), then he will not be allowed for the further process of the company.</li>
								<li>The students who wish to withdraw from the proceedings must bring it to the knowledge of the cell according to the following criteria:
									<ul>
										<li>a. Companies visiting twice to the campus (1st time for written examination & PPT; 2nd time for the interview and selection process): 48 hours before the company is scheduled.</li>
										<li>b. Companies visiting once to the campus (for the whole selection process): 48 hours before the PPT/Written Test/Online Test.</li>
									</ul>
									Students violating the above norms will be debarred from the placement process.
								</li>
								<li>In case of emergency fill in the Leave Application form before the activity. You need to submit LAF in the T&P office yourself or send a representative on your behalf with his/her undertaking on the form. Relevant proof needs to be attached with LAF for missing the event which includes:
										<ul>	
											<li>Only Health Center medical certificate for medical reasons</li>
											<li>If a class is scheduled at the time of the activity. </li>
											<small><li>The LAF will not be counted as your attendance for the event. Attendance is counted ONLY when you are physically present.</li></small>
										</ul>
								</li>
								<li>Students appearing for any tests/GD/presentation should be present at least 15 minutes prior to the start of process.</li>
								<li>Students must keep their Identity Card and Attendance Diaries with them at the time of PPT/Test/Group Discussion/ Interview, and produce the same when demanded by the visiting team of the company, staff or Training and Placement Representatives (TPRs). No one would be allowed to enter the test/interview venue without the Id-card.</li>
								<li>A list of companies coming on-campus for recruitment is put up on the T&P website. Students must NOT apply to any of these companies off-campus, as under an accord of mutual understanding between the firms and IIT(BHU) Varanasi, companies would notify T&P whenever they receive an off-campus application from any of IIT(BHU) Varanasi students. In all such cases suitable action as per the institute rules would be would be initiated apart from the candidates being debarred from the placement process.</li>
								<li>If the Training & Placement representatives are found incapable in doing their job then it will be duly informed by the Core Committee to the Professor In-charge, TPC and the punishment includes debarment from the placement session/replacement as TPR. The TPR will be judged on the basis of his/her commitment towards his duties such as number of companies coordinated, meetings attended, branch reviews, etc.</li>
		</ol>			

								</div>

							</div><!--END Tab panes -->

							</div><!--/nocards -->

						</div><!-- /wrapper -->
					</div><!-- --/row ---->







					{% endblock %}

					{% block js %}



					{% endblock %}